@font-face {
    font-family: 'Bw Modelica Cyrillic DEMO';
    src: url('BwModelicaCyrillicDEMO-Regular.eot');
    src: local('Bw Modelica Cyrillic DEMO Regular'), local('BwModelicaCyrillicDEMO-Regular'),
        url('BwModelicaCyrillicDEMO-Regular.eot?#iefix') format('embedded-opentype'),
        url('BwModelicaCyrillicDEMO-Regular.woff2') format('woff2'),
        url('BwModelicaCyrillicDEMO-Regular.woff') format('woff'),
        url('BwModelicaCyrillicDEMO-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica Cyrillic DEMO';
    src: url('BwModelicaCyrillicDEMO-Bold.eot');
    src: local('Bw Modelica Cyrillic DEMO Bold'), local('BwModelicaCyrillicDEMO-Bold'),
        url('BwModelicaCyrillicDEMO-Bold.eot?#iefix') format('embedded-opentype'),
        url('BwModelicaCyrillicDEMO-Bold.woff2') format('woff2'),
        url('BwModelicaCyrillicDEMO-Bold.woff') format('woff'),
        url('BwModelicaCyrillicDEMO-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica Cyrillic DEMO';
    src: url('BwModelicaCyrillicDEMO-Medium.eot');
    src: local('Bw Modelica Cyrillic DEMO Medium'), local('BwModelicaCyrillicDEMO-Medium'),
        url('BwModelicaCyrillicDEMO-Medium.eot?#iefix') format('embedded-opentype'),
        url('BwModelicaCyrillicDEMO-Medium.woff2') format('woff2'),
        url('BwModelicaCyrillicDEMO-Medium.woff') format('woff'),
        url('BwModelicaCyrillicDEMO-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica Cyrillic DEMO';
    src: url('BwModelicaCyrillicDEMO-Light.eot');
    src: local('Bw Modelica Cyrillic DEMO Light'), local('BwModelicaCyrillicDEMO-Light'),
        url('BwModelicaCyrillicDEMO-Light.eot?#iefix') format('embedded-opentype'),
        url('BwModelicaCyrillicDEMO-Light.woff2') format('woff2'),
        url('BwModelicaCyrillicDEMO-Light.woff') format('woff'),
        url('BwModelicaCyrillicDEMO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


